nav {
    display: flex;
    background-color: #3F3B6C;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: white;
    
    
}

.pointer{
    cursor: pointer;
}

.cartdiv{
  
    
    display: flex;
    justify-content: center;
    align-items: center;

}