:root{
    --button_color : rgb(0, 0, 0);
    --button_border : none;
    
}

.display button{
    background-color: var(--button_color);
    border: var(--button_border);
    border-radius: 10px;
    color: white;
    height: 40px;
    cursor: pointer;
}

.display{
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;    
    justify-content: center;
    background-color: #9F73AB;
}

.maindiv{
    border-radius: 10px;
    display: flex;
    padding: 30px;
    /* border: 1px solid gray; */
    margin: 10px;
    background-color: #7658a9b5;
    color: white;
    
}

.eachproduct{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.maindiv:hover{
    transition: .3s;
    box-shadow: 0px 0 20px 2px black;
}
